.random-planet {
    display: flex;
    padding: 1rem;
}

.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}

.random-planet .list-group {
    margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .list-group-item .term {
    margin-right: .5rem;
}

.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 233, 32);
} 
  
.error-indicator img {
    margin-bottom: 1rem;
}
  
.error-indicator .boom {
    font-size: 1.7
}