@font-face {
    font-family: 'Star Jedi';
    src: url('StarJedi.woff2') format('woff2'),
        url('StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header {
    margin-top: .5rem;
    padding-left: 10px;
}

.header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.header ul li:hover {
    background-color: #444;
}

.header a:hover {
    text-decoration: none;
}

.header h3 a {
    color: rgb(255, 233, 32);
    font-family: 'Star Jedi';
}

.header h3 a:hover {
    color: #00bc8c;
}