@font-face {
    font-family: 'Star Jedi';
    src: url('StarJedi.woff2') format('woff2'),
        url('StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.header ul li {
    list-style: none;
    padding: .7rem 1rem;
    border-radius: 3px;
}

.header ul li:hover {
    background-color: #444;
}

.header a:hover {
    text-decoration: none;
    color: rgb(255, 233, 32);
}

.header-main-text {
    font-family: 'Star Jedi';
    padding: 0 20px;
}

a {
    color: white;
}